.frontPage {
  h2 {
    font-size: 40px;
    i {
      font-size: 16px;
    }
  }
  color: white;
  &_main {
    width: 100%;
    height: 85vh;
    background-size: contain;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    &_content {
      width: 50%;
      margin-top: 120px;
      //測試隱藏後顯現效果st
      transition: all 2s;
      // opacity: 0;
      // transform: translateY(-100px);
      //測試隱藏後顯現效果end

      @media (max-width: 1024px) {
        width: 100%;
        margin-top: 0px;
        h2 {
          font-size: 24px;
          i {
            font-size: 12px;
          }
        }
        button {
          width: 40%;
          padding: 10px;
        }
      }
    }
    &_img {
      width: 55%;
      height: 500px;
      overflow: hidden;
      img {
        object-fit: contain;
        height: 500px;
      }
      @media (max-width: 1024px) {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  &_aboutus {
    width: 100%;
    height: 85vh;
    &_img {
      width: 55%;
      // height: 500px;
      overflow: hidden;
      img {
        object-fit: contain;
        filter: grayscale(1);
      }
      @media (max-width: 1024px) {
        min-width: 100%;
        margin-bottom: 20px;
      }
    }
    &_content {
      width: 45%;
    }
  }
  &_shop {
    width: 100%;
    &_cardGroup {
      .card {
        filter: grayscale(1);
        transform: translateY(10px);
        transition: all 1s;
        &:hover {
          filter: grayscale(0);
          transform: translateY(0px);
        }
      }
    }
  }

  .UpUp {
    opacity: 1;
    transform: translateY(0px);
  }
}
