.navbar-collapse {
  @media (max-width: 992px) {
    // min-height: 85vh;
  }
}
.offcanvas {
  .offcanvas-start {
    z-index: 1050;
  }
}
.header-cart {
  width: 55px;
  height: 32px;
  svg {
    width: 100%;
    height: 100%;
  }
}
.header-hamburger {
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
  vertical-align: middle;
  transition: all 0.3s;
  span {
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 2px;
    &:nth-child(1) {
      top: 10%;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(3) {
      bottom: 10%;
    }
  }
}
//漢堡選單點及效果
.navbar-toggler[data-bs-toggle="collapse"][aria-expanded="true"] {
  .header-hamburger {
    span:nth-child(1) {
      transform: rotateZ(45deg) translateY(-50%);
      top: 49%;
      transform-origin: 50% 0;
    }
    span:nth-child(2) {
      display: none;
    }
    span:nth-child(3) {
      transform: rotateZ(-45deg) translateY(-50%);
      bottom: 42%;
      transform-origin: 50% 0;
    }
  }
}
// .navbar-toggler[data-bs-toggle="collapse"][aria-expanded="true"] .navbar-toggler-animation span:nth-child(2)
.logo {
  font-size: 35px;
  font-family: "Inspiration", cursive;
  z-index: 1;
  @include theme-color;
  // padding: 0.5em 0em;
  outline: none;
  border: none;
  &:hover {
    cursor: pointer;
    @include keyframes(jelly) {
      0%,
      100% {
        transform: scale(1, 1);
      }
      25% {
        transform: scale(0.9, 1.1);
      }
      50% {
        transform: scale(1.1, 0.9);
      }
      75% {
        transform: scale(0.95, 1.05);
      }
    }
    @include animate(jelly, 1s, null, 1);
  }
}
//header end

//footer start
.ft_wrapper {
  color: white;
  // hr {
  //   margin: 0 auto;
  //   width: 90%;
  //   border: 1px solid white;
  //   @media (min-width: 1024px) {
  //     width: 100%;
  //   }
  // }
  .ft_Icon {
    a {
      svg {
        opacity: 0.6;
        &:hover {
          transform: translateY(-5px);
          transition: all 0.5s;
          opacity: 1;
        }
      }
    }
  }
}
//footer end
